<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div
        class="col-lg-6 order-1 order-lg-2"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="about-img">
          <img src="assets/img/about.jpg" alt="" />
        </div>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>A propos de notre site:</h3>
        <p class="fst-italic">
          Fast Order permettre aux clients de gagner du temps . De plus, elle
          simplifie le passage du commande et permet donc de réduire le temps
          d'attente. Vous pouvez égalemnt :
        </p>
        <ul>
          <li>
            <i class="bi bi-check-circle"></i>Consulter les menus qui sont
            clairement affichés , ce qui vous permet de voir toutes les options
            disponibles et de choisir facilement ce que vous voulez commander.
          </li>
          <li>
            <i class="bi bi-check-circle"></i> Choisir votre plat ; vous pouvez
            aussi facilement personnaliser vos commandes en ligne pour s'assurer
            que vos besoins alimentaires sont satisfaits.
          </li>
          <li>
            <i class="bi bi-check-circle"></i>Vous peuvez simplement récupérer
            vos commandes prépayée à l'extérieur du restaurant ou se faire
            livrer directement à votre domicile.
          </li>
        </ul>
        <p>
          En somme, notre site vous offre de nombreux avantages, tels que la
          commodité, la personnalisation, les promotions, les commentaires et la
          sécurité
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
