<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-phone d-flex align-items-center"><span>+216 99 900 625 </span></i>
        <i class="bi bi-clock d-flex align-items-center ms-4"><span> lun-dim : 11AM - 23PM</span></i>
      </div>

      <div class="languages d-none d-md-flex align-items-center">
        <ul>
          <li>Ar</li>
          <li><a href="#">En</a></li>
        </ul>
      </div>
    </div>
</div>